<nav class="d-flex h5 justify-content-between p-3">
  <div class="home">
    <i class="fa fa-home"></i>
  </div>
  <div class="logout d-flex gap-2 ">
    <i class="fas fa-sign-out-alt" (click)="logout()"></i>
    <p>Logout</p>
  </div>
</nav>

<div class="container mt-5">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="d-flex flex-column gap-4 m-auto w-25">
    <h1>Registrar Usuario</h1>
    <label for="name">
      <input type="text" id="name" placeholder="Ingresa Nombre" formControlName="name" #name>
    </label>

    <label for="username">
      <input type="text" id="username" placeholder="Ingresa Username" formControlName="userName" #userName>
    </label>

    <label for="password">
      <input type="password" id="password" placeholder="Ingresa Password" formControlName="password" #password>
    </label>
    <label>
      <button type="submit">GUARDAR</button>
    </label>
  </form>
</div>